<%- include('header'); -%>

<div class='content'>
  <H1 ID="welcome">Something went wrong...</H1>
    <h2> Error Code: <%= code %> </h2>
    <p> Please try again later, if the problem persists contact an administrator. </p>
</div>


<%- include('footer'); -%>